body {

   background:url("kawaii.jpg");

    
    color: rgb(255, 209, 201);
    font-family: 'Playfair Display', serif;
    text-align: center;
}

#content {
    display: block;
    margin-left: auto;
    margin-right: auto
}

header {
	
}

footer {
	font-style: italic;
	font-size: 90%;
}